/*
** CSS Document *
** @name 合一大学（oneness） 走进合一 css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-03
------------------------------------------------------
*/

.introduction_box{padding-top:3em; overflow:hidden}
.introduction_pic{width:49%;float:left}
.introduction_text{width:51%;float:left}
.introduction_text h4{padding-left:40px;padding-top:90px;font-size:2em;color:#333;line-height:1.6}
.introduction_text h4 span{width:30px;height:10px;border-top:2px #333 solid; display:block}
.introduction_text p{padding-left:40px;padding-top:20px;font-size:14px;color:#858585}

.campus_box .main_box{padding:6px 10px 0 10px}

.campus_box2 .main_box{padding:60px 10px 0 10px}


.campus_list{padding-top:20px; overflow:hidden}
.campus_list li{width:25%;float:left;margin-top:30px; overflow:hidden; position:relative}
.campus_list li a{display:block;padding-left:15px;padding-right:15px}

.campus_list li a .mask{
	position:absolute;left:15px;right:15px;top:0;bottom:0; background:#000; opacity:0;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}

.campus_list li a:hover .mask{opacity:.5}

.campus_list li a .num,
.campus_list li a .more,
.campus_list li a .campus_oneness{
	position:absolute;left:0;right:0;text-align:center;color:#d5b10d;z-index:9;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.campus_list li a .num{
	top:-48%;font-size:4em;font-weight:800;
}
.campus_list li a:hover .num{top:10%}

.campus_list li a .more{bottom:-15%; text-transform:uppercase}
.campus_list li a:hover .more{bottom:15%}

.campus_list li a .campus_oneness{top:50%;margin-top:-14px; opacity:0}
.campus_list li a:hover .campus_oneness{opacity:1}

.campus_list li a .campus_oneness span{width:70%; display:block; margin:0 auto}


.campus_list2 li{margin-top:16px;}
.campus_list2 li a{padding-left:8px;padding-right:8px}
.campus_list2 li a .mask{left:8px;right:8px;}

.campus_list2 li a .num{top:-48%;line-height:1}
.campus_list2 li a:hover .num{top:8%}

.campus_list2 li a .campus_oneness{margin-top:-24px}
.campus_list2 li a:hover .more{bottom:12%}






@media screen and (max-width:1024px){
	
	.introduction_text h4{padding-left:30px;padding-top:50px}
	.introduction_text p{padding-left:30px}
	
}


@media screen and (max-width:768px){
	.introduction_pic{width:36%}
	.introduction_text{width:64%}	
	.introduction_text h4{padding-left:14px;padding-top:20px}
	.introduction_text p{padding-left:14px;padding-top:12px}
	
	.campus_box .main_box,
	.campus_box2 .main_box{padding:20px 10px 0 10px}
	
	.campus_list li{width:33.333%}
	
	.campus_list li a:hover .num{top:6%}
	
	.fancybox-nav span {visibility: visible}
}


@media screen and (max-width:414px){
	.introduction_pic{width:80%; float:none;margin:0 auto}
	.introduction_text{width:100%}	
	.introduction_text h4{padding-right:14px;font-size:1.75em}
	.introduction_text h4 span{ border-width:1px}
	.introduction_text p{padding-right:14px}
	
	.campus_list{padding-top:8px}
	.campus_list li{width:50%;margin-top:10px}
	.campus_list li a{padding-left:5px;padding-right:5px}
	.campus_list li a .mask{left:5px;right:5px}
	
	.campus_list li a .campus_oneness{margin-top:-4px}

}