/*
** CSS Document *
** @name 合一大学（oneness） 全局基础公用样式css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2014-09-19
------------------------------------------------------
*/

@font-face {
	font-family: '思源黑体';
	/*src: url('fonts/edwardian_script_itc-webfont.eot');*/ /* IE9 Compat Modes */
	src: /*url('fonts/edwardian_script_itc-webfont.eot?#iefix') format('embedded-opentype')*/, /* IE6-IE8 */
             /*url('fonts/edwardian_script_itc-webfont.woff') format('woff'), *//* Modern Browsers */
             url('fonts/SourceHanSansCN-Regular.otf')  format('opentype')/* Safari, Android, iOS */
             /*url('fonts/edwardian_script_itc-webfont.svg#YourWebFontName') format('svg');*/ /* Legacy iOS */
}

body{
	font-family: "open Sans","Microsoft YaHei",Helvetica,Arial,Sans-serif,SimHei;
	font-size:16px;line-height:1.6; color:#666;
	background:#fff;
	/*text-align:justify; */text-justify:inter-word;
}



html, body, div, p,ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th,td,
header,section,article {margin: 0;padding: 0; }
/*6.12修改，更改图片在新模板中的不兼容*/
/*img {border: 0 none;vertical-align: top;outline:none}*/
ul, li {list-style-type: none; }
input, select, button, textarea{font-size:12px;font-family: Tahoma, Geneva, sans-serif; }
button {cursor: pointer; }
i, em, cite,u{ font-style: normal; }
input:focus{outline:none;}

h1, h2, h3, h4, h5, h6{font-weight:normal}

a{color:#666;text-decoration:none;outline:none;cursor:pointer;}
a:hover{text-decoration:none;color:#d5b10d;}
a:focus{outline:none;}

a.blue{color:#0a8cd2}
a.blue:hover{ text-decoration:underline}

input:focus,
textarea:focus{outline:none}

/* hide xunlei plugin assist in chrome */
embed[id^="xunlei_com_thunder_helper_plugin_"]{display:none;}

.clearfix:before, .clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }

.clear { diplay: block; float: none; clear: both; overflow: hidden; width: auto; height: 0; margin: 0 auto; padding: 0; font-size: 0; line-height: 0; }
.fl{float:left;}
.fr{float:right;}

input[type="submit"],input[type="text"],input[type="button"]{-webkit-appearance:none}

.normals{font-style:normal;font-weight:normal;}


@media screen and (max-width:414px){
body{font-size:14px}

}







