/*
** CSS Document *
** @name 合一大学（oneness） interactive css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-04
------------------------------------------------------
*/

.wisdom_con{padding-top:28px; overflow:hidden}
.wisdom_con li{width:25%;float:left;padding-bottom:24px}
.wisdom_con li a{padding:0 12px; display:block}
.wisdom_con li a img{width:100%}
.wisdom_con li a p{ background:#fff;background:#f3f3f3;padding:0 16px}
.wisdom_con li a p.tab{color:#d5b10d;font-size:.875em;padding-top:.3em}
.wisdom_con li a p.tab span{width:30px;display:block;height:6px;border-top:1px #d5b10d solid;}

.wisdom_con li a .share_text {font-size:1.25em;height:3.6em;line-height:1.2}
.wisdom_con li a .share_author{padding-bottom:.5em;font-size:.875em;color:#999}
.wisdom_con li a .share_author span{color:#d5b10d;padding-right:2px}

.tutoring_con{border-top:1px #ccc solid;margin-top:20px;margin-bottom:20px}
.tutoring_con dl{border-bottom:1px #ccc solid}
.tutoring_con dl a{
	display:block;padding:20px 10px;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in
}
.tutoring_con dl a:hover{ background:#f8f8f8}
.tutoring_con dl dt{line-height:1.4}
.tutoring_con dl dt h4{font-size:1.25em;color:#d5b10d}
.tutoring_con dl dt p{font-size:.875em;color:#999}
.tutoring_con dl dt p span{color:#d5b10d;padding-right:4px;font-size:1.25em}
.tutoring_con dl dd{font-size:.875em;color:#999;padding-top:10px}

@media screen and (max-width:1024px){
	
	
}


@media screen and (max-width:768px){
	.wisdom_con{padding-top:18px}
	.wisdom_con li{width:50%;padding-bottom:8px}
	.wisdom_con ul{padding:0}
	.wisdom_con li a{padding:0 4px}
}



@media screen and (max-width:414px){
	.wisdom_con li a p{padding:0 8px}
	.tutoring_con dl a{padding:10px 6px}

}