/*
** CSS Document *
** @name 合一大学（oneness） information css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-04
------------------------------------------------------
*/
.page-main{max-width:1140px;margin:0 auto;padding:20px 15px 10px 15px}

.bread-crumbs{max-width:1140px;margin:0 auto;border-bottom:1px #eaeaea solid}
.bread-crumbs p{padding:30px 15px 10px 15px}
.bread-crumbs .cur{color:#eaba44}

.left-main{width:100%; margin-right:-350px; float:left}
.left_box{border:1px #eaeaea solid;padding:20px 15px 40px 15px; margin-right:350px;}

.right-main{width:308px;border:1px #eaeaea solid; padding:10px;float:right}


.infor_box{ overflow:hidden}
.top_line{height:120px;border-bottom:1px #ccc solid;}

.infor_title{border-bottom:1px #ccc dashed;padding-bottom:20px; text-align:center;}
.infor_title h2{font-size:2em;font-weight: normal;color:#333;padding-bottom:10px;padding-top:20px;line-height:1.2}
.infor_title span{font-size:.875em;padding:0 10px}


.news_con{padding:30px 20px;color:#333;font-size:.875em}
.news_con p{padding:5px 0}
.text-r{ text-align:right}

.accessory{padding:30px 20px;color:#333;border-bottom:1px #ccc dashed;margin-bottom:40px}
.accessory p{padding:3px 0}
.accessory a{ text-decoration:underline;color:#d5b10d}

.page_switch{border:1px #eaeaea solid;color:#333; overflow:hidden}
.page_switch p{width:50%;font-size:.875em;float:left}
.page_switch p a{color:#999;padding:10px 20px;display:block}
.page_switch p a span{color:#434343; display:block}
.page_switch p a:hover{ background:#d5b10d;color:#fff}
.page_switch p a:hover span{color:#fff}

.page-next{ text-align:right}
.page-next a{border-left:1px #eaeaea solid}

.video_box{width:640px;padding:40px 0; margin:0 auto}
.video_box iframe{width:640px;height:360px}


/*右侧文章列表 css start*/
.listview{}
.list-title{font-size:1.125em;padding-left:10px;padding-bottom:5px}
.listview li{border-top:1px #eaeaea solid;font-size:.875em;line-height:1.4}
.listview li a p{padding:2px 0}
.listview li a{padding:8px 10px; display:block;overflow:hidden}
.listview li a:hover{ background:#fbfbfb}
.listview li a .date{color:#999;font-size:.875em}

.listview li.has-thum .list-text{width:188px;float:left}

.list-thum{width:90px;float:right; position:relative}
.video-icon{ width:30px; height:30px; display:block; background:url(../images/icon_play2.png) no-repeat; position:absolute ; left:50%; top:50%; margin-left:-15px;margin-top:-15px}

@media screen and (max-width:1024px){
	.video_box{width:580px}
	.video_box iframe{width:580px;height:326px}
}

@media screen and (max-width:900px){
	.video_box{width:480px}
	.video_box iframe{width:480px;height:270px}
}

@media screen and (max-width:768px){
	.top_line{height:66px}
	.left-main{margin-right:0; float:none}
	.left_box{border:none;padding:0; margin-right:0}
	
	.video_box{width:580px}
	.video_box iframe{width:580px;height:326px}
	
	.right-main{width:auto;border:none;margin-top:20px;float:none}
}


@media screen and (max-width:414px){
	.top_line{height:52px}
	.infor_title h2{font-size:1.5em;padding-top:10px}
	.infor_title span{ display:block}
	
	.video_box{width:280px;padding:20px 0}
	.video_box iframe{width:280px;height:158px}
	
	.news_con{padding:15px 0}
	
	.accessory{padding:15px;margin-bottom:20px}
	
	.right-main{padding:10px 0}
	
	.bread-crumbs p{padding:15px 15px 10px 15px}
	.page_switch p a{padding:5px 10px}
	
	.list-title{padding-left:0;padding-bottom:5px}
	.listview li a{padding:8px 0}
	.listview li.has-thum .list-text{width:70%}
	.list-thum{width:25%}
}

@media screen and (max-width:240px){
	.video_box{width:200px}
	.video_box iframe{width:200px;height:120px}
}