/*
** CSS Document *
** @name 合一大学（oneness） oneness wisdom css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-01-23
------------------------------------------------------
*/
.wisdom_box{width:100%}
.wisdom_list{margin-top:50px;overflow:hidden;position:relative}

.wisdom_list li{width:33.3333%;color:#333;margin-bottom:10px;float:left}
.wisdom_list li p{padding-left:15px;padding-right:15px;}
.wisdom_list li a{ display:block}
.wisdom_list li .event_pic { display:block; position:relative}
.wisdom_list li .event_pic img{width:100%}

.wisdom_list li a .active_bg {
	position: absolute;left:15px;right:15px;top:0;bottom:0; background:#fff; opacity:0; filter:alpha(opacity=0);
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	transition:all .3s ease-in;
}
.wisdom_list li a:hover .active_bg{opacity:.4; filter:alpha(opacity=40);}


.wisdom_list li .icon_paly{
	width:99px;height:65px;
	background:url(../images/icon_play.png) no-repeat; display:block; position:absolute;
	left:50%;top:50%;margin-left:-48px;margin-top:-32px;
}

.wisdom_list li .event_text{height:44px;line-height:1.4;letter-spacing:-1px;padding-top:20px;padding-right:30px; overflow:hidden}

.wisdom_list li .text-cn{letter-spacing:0;}

.week_con{padding:20px 10px 0 10px;overflow:hidden}
.week_con ul{border-bottom:1px #ccc solid}
.week_con li{border-top:1px #ccc solid;padding:12px 15px;line-height:1.2}
.week_con li:nth-child(2n){ background:#f8f8f8; box-shadow:inset 0 2px 1px rgba(255,255,255,.8),inset 0 -1px 0 rgba(255,255,255,.8);}
.week_con li .week_word{font-size:1.25em;padding-bottom:.3em}
.week_con li .time{font-size:.875em;color:#999}
.week_con li .time span{color:#d5b10d}

@media screen and (max-width:1024px){
	
	
}


@media screen and (max-width:768px){
	.wisdom_list li{width:50%}
	.wisdom_list li p{padding-left:6px;padding-right:6px}
	.wisdom_list li .event_text{padding-top:16px;padding-right:28px;}
	
}



@media screen and (max-width:414px){
	.wisdom_list{margin-top:20px}
	.wisdom_list li .icon_paly{width:49px;height:32px; background-size:49px 32px;margin-left:-24px;margin-top:-16px}
	.wisdom_list li .event_text{padding-top:10px;padding-right:10px}
	.wisdom_list li .event_text{height:32px}
	.wisdom_list li p{padding-left:3px;padding-right:3px}
	
	.week_con li{padding:8px 10px}
	.week_con li .time{font-size:1em}

}