@import (once, less) "less.less";

@speed-fast:         0.2s;
@speed-normal:       0.4s;
@speed-slow:         0.8s;

// @timing-function: cubic-bezier(0.33, 0.04, 0.57, 1.2);
@timing-function: ease-out;


/**
 * 从上方移入
 * @return {[type]} [description]
 */
.kf-moveTopIn(){
	0%{
		opacity: 0;
		.e(transform, translateY(-100%) );
	}
	100%{
		opacity: 1;
		.e(transform, translateY(0) );
	}
}

@-webkit-keyframes moveTopIn {.kf-moveTopIn(); }
@keyframes moveTopIn {.kf-moveTopIn(); }
.moveTopIn{
	.e(animation,  moveTopIn @speed-fast @timing-function 0s forwards );
}


/**
 * 从右方移入
 * @return {[type]} [description]
 */
.kf-moveRightIn(){
	0%{
		opacity: 0;
		.e(transform, translateX(100%) );
	}
	100%{
		opacity: 1;
		.e(transform, translateX(0) );
	}
}

@-webkit-keyframes moveRightIn {.kf-moveRightIn(); }
@keyframes moveRightIn {.kf-moveRightIn(); }
.moveRightIn{
	.e(animation,  moveRightIn @speed-fast @timing-function 0s forwards );
}


/**
 * 从下方移入
 * @return {[type]} [description]
 */
.kf-moveBottomIn(){
	0%{
		opacity: 0;
		.e(transform, translateY(100%) );
	}
	100%{
		opacity: 1;
		.e(transform, translateY(0) );
	}
}

@-webkit-keyframes moveBottomIn {.kf-moveBottomIn(); }
@keyframes moveBottomIn {.kf-moveBottomIn(); }
.moveBottomIn{
	.e(animation,  moveBottomIn @speed-fast @timing-function 0s forwards );
}
.moveBottomInInitial{
	.e(animation,  moveBottomIn @speed-fast @timing-function 0s forwards paused);
}


/**
 * 从左方移入
 * @return {[type]} [description]
 */
.kf-moveLeftIn(){
	0%{
		opacity: 0;
		.e(transform, translateX(-100%) );
	}
	100%{
		opacity: 1;
		.e(transform, translateX(0) );
	}
}

@-webkit-keyframes moveLeftIn {.kf-moveLeftIn(); }
@keyframes moveLeftIn {.kf-moveLeftIn(); }
.moveLeftIn{
	.e(animation,  moveLeftIn @speed-fast @timing-function 0s forwards );
}


/**
 * 从上方移出
 * @return {[type]} [description]
 */
.kf-moveTopOut(){
	0%{
		opacity: 1;
		.e(transform, translateY(0) );
	}
	100%{
		opacity: 0;
		.e(transform, translateY(-100%) );
	}
}

@-webkit-keyframes moveTopOut {.kf-moveTopOut(); }
@keyframes moveTopOut {.kf-moveTopOut(); }
.moveTopOut{
	.e(animation,  moveTopOut @speed-fast @timing-function 0s forwards );
}


/**
 * 从右方移出
 * @return {[type]} [description]
 */
.kf-moveRightOut(){
	0%{
		opacity: 1;
		.e(transform, translateX(0) );
	}
	100%{
		opacity: 0;
		.e(transform, translateX(100%) );
	}
}

@-webkit-keyframes moveRightOut {.kf-moveRightOut(); }
@keyframes moveRightOut {.kf-moveRightOut(); }
.moveRightOut{
	.e(animation,  moveRightOut @speed-fast @timing-function 0s forwards );
}


/**
 * 从下方移出
 * @return {[type]} [description]
 */
.kf-moveBottomOut(){
	0%{
		opacity: 1;
		.e(transform, translateY(0) );
	}
	100%{
		opacity: 0;
		.e(transform, translateY(100%) );
	}
}

@-webkit-keyframes moveBottomOut {.kf-moveBottomOut(); }
@keyframes moveBottomOut {.kf-moveBottomOut(); }
.moveBottomOut{
	.e(animation,  moveBottomOut @speed-fast @timing-function 0s forwards );
}


/**
 * 从左方移出
 * @return {[type]} [description]
 */
.kf-moveLeftOut(){
	0%{
		opacity: 1;
		.e(transform, translateX(0) );
	}
	100%{
		opacity: 0;
		.e(transform, translateX(-100%) );
	}
}

@-webkit-keyframes moveLeftOut {.kf-moveLeftOut(); }
@keyframes moveLeftOut {.kf-moveLeftOut(); }
.moveLeftOut{
	.e(animation,  moveLeftOut @speed-fast @timing-function 0s forwards );
}



/**
 * 放大
 * @return {[type]} [description]
 */
.kf-zoomOut100t120(){
	0%{
		.e(transform, scale(1, 1) );
	}
	100%{
		.e(transform, scale(1.2, 1.2) );
	}
}

@-webkit-keyframes zoomOut100t120 {.kf-zoomOut100t120(); }
@keyframes zoomOut100t120 {.kf-zoomOut100t120(); }
.zoomOut100t120{
	.e(animation,  zoomOut100t120 @speed-fast @timing-function 0s forwards );
}


/**
 * 放大
 * @return {[type]} [description]
 */
.kf-zoomIn120t100(){
	0%{
		.e(transform, scale(1.2, 1.2) );
	}
	100%{
		.e(transform, scale(1, 1) );
	}
}

@-webkit-keyframes zoomIn120t100 {.kf-zoomIn120t100(); }
@keyframes zoomIn120t100 {.kf-zoomIn120t100(); }
.zoomIn120t100{
	.e(animation,  zoomIn120t100 @speed-fast @timing-function 0s forwards );
}

