// Cubic
@easeInCubic:          cubic-bezier(0.550, 0.055, 0.675, 0.190);
@easeOutCubic:         cubic-bezier(0.215, 0.610, 0.355, 1.000);
@easeInOutCubic:       cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
@easeInCirc:           cubic-bezier(0.600, 0.040, 0.980, 0.335);
@easeOutCirc:          cubic-bezier(0.075, 0.820, 0.165, 1.000);
@easeInOutCirc:        cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
@easeInExpo:           cubic-bezier(0.950, 0.050, 0.795, 0.035);
@easeOutExpo:          cubic-bezier(0.190, 1.000, 0.220, 1.000);
@easeInOutExpo:        cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
@easeInQuad:           cubic-bezier(0.550, 0.085, 0.680, 0.530);
@easeOutQuad:          cubic-bezier(0.250, 0.460, 0.450, 0.940);
@easeInOutQuad:        cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
@easeInQuart:          cubic-bezier(0.895, 0.030, 0.685, 0.220);
@easeOutQuart:         cubic-bezier(0.165, 0.840, 0.440, 1.000);
@easeInOutQuart:       cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
@easeInQuint:          cubic-bezier(0.755, 0.050, 0.855, 0.060);
@easeOutQuint:         cubic-bezier(0.230, 1.000, 0.320, 1.000);
@easeInOutQuint:       cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
@easeInSine:           cubic-bezier(0.470, 0.000, 0.745, 0.715);
@easeOutSine:          cubic-bezier(0.390, 0.575, 0.565, 1.000);
@easeInOutSine:        cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
@easeInBack:           cubic-bezier(0.600, -0.280, 0.735, 0.045);
@easeOutBack:          cubic-bezier(0.175,  0.885, 0.320, 1.275);
@easeInOutBack:        cubic-bezier(0.680, -0.550, 0.265, 1.550);

/* 
 * Global Less variable/function define
 */

@navbar-height:                    130px;
@navcontent-height:                90px;
@navbar-height-minimize:           75px;
@navcontent-height-minimize:       50px;
@navbar-height-mobile:             55px;
@navcontent-height-mobile:         45px;



// Color defined

@color-default:              #333;
@color-active:               #EABA44;
@color-selected:             #E6E6E6;
/*@color-shadow:               #E1E1E1;*/
@color-shadow:               rgba(0, 0, 0, .13);
@color-light-grey:           #CCC;
@color-frame-border:         #CCC;

@color-default-bit:          #555;
@color-default-lighter:      #888;
@color-def-lighter:          #888;  // alias for @color-default-lighter

// light theme color
@color-light-default:        #C38B00;



.e(@property; @value: none) {
	-webkit-@{property}: @value;
	   -moz-@{property}: @value;
	    /*-ms-@{property}: @value;*/
	     -o-@{property}: @value;
	        @{property}: @value;
}
.font0()
{
	font-size:0;
	line-height:0;
}

.clear-margin(){
	margin:0;padding:0;
}

.text-ellipsis(){
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


@shadowbox-shadow-size:        7px;

/**
 * 基于栅格系统创建均分并且两端对齐的3列布局
 * @param  {[type]} @margin-total     列间距总和;
 * @param  {[type]} @margin-top       顶部边距, 默认 0
 * @param  {[type]} @margin-bottom    底部边跑, 默认 0
 * @param  {[type]} @minwid           媒体查询, 两端对齐适用的最小宽度. 默认 768px
 * 
 * @return {[type]}               [description]
 */
.col3(@margin-total; @margin-top : 0; @margin-bottom : 0; @minwidth : 768px){
	@colmargin:   @margin-total / 6;
	.col3{
		margin: @margin-top @colmargin @margin-bottom;

		@media (min-width: @minwidth) {
			&.left{
				margin-left: 0;
				margin-right: @colmargin * 2;
			}
			&.right{
				margin-left: @colmargin * 2;
				margin-right:0;
			}
		}
	}

	// @media (min-width: @minwidth) {
	// 	.col-xs-12,
	// 	.col-sm-12{
	// 		.col3{
	// 			margin: @margin-top @colmargin @margin-bottom;
	// 		}
	// 	}
	// }
}

/**
 * 基于栅格系统创建均分并且两端对齐的2列布局
 * @param  {[type]} @margin-total     列间距总和;
 * @param  {[type]} @margin-top       顶部边距, 默认 0
 * @param  {[type]} @margin-bottom    底部边跑, 默认 0
 * @param  {[type]} @minwid           媒体查询, 两端对齐适用的最小宽度. 默认 768px
 * 
 * @return {[type]}               [description]
 */
.col2(@margin-total; @margin-top : 0; @margin-bottom : 0; @minwidth : 768px){
	.col2{
		@colmargin:   @margin-total / 4;

		@media (min-width: @minwidth) {
			&.left{
				margin-left: 0;
				margin-right: @colmargin * 2;
			}
			&.right{
				margin-left: @colmargin * 2;
				margin-right:0;
			}
		}
	}
}


