@import (reference) "less.less";

@media (max-width: 767px){

body{
	padding-top: @navbar-height-mobile;
}

.navbar-default {

	.navbar-header{
		background-color: #FFF;
		text-align: center;
		height: @navbar-height-mobile;

	}

	.navbar-toggle{
		border:0;
		margin: 15px 4px 0 -100%;
		padding: 14px 20px 10px;
		background-color: transparent;
		&:hover,
		&:focus{
			background-color: rgba(204, 204, 204, 0.3);
		}

		.icon-bar{
			border-color: #CCC;
			.e(border-radius; 2px);
		}
	}

	.bar-brand{
		>img{
			width: auto;
			height: 44px;
			margin-top: 5px;
		}
	}

	.navbar-nav{
		>li{
			text-align: center;
			font-size: 1.2em;
			letter-spacing: 3px;
			font-weight: normal;

			&.logo{
				display: none;
			}
		}
	}

}



.hortab {
	font-size: 25px;

	li.tab{
		font-weight: normal;
		padding-left: 1em;
		padding-right: 1em;

		&:after{
			border-top-width: 2px;
		}
	}

	&.style-2{
		.tab{
			padding: 0;
		}
		.btn-tab{
			font-size: 13px;
			padding-left: 0.5em;
			padding-right: 0.5em;
			border: none;
		}
		.tab.active .btn-tab,
		.btn-tab.active{
			background-color: @color-active;
			color: #FFF;
			border:none;
		}
	}
}


.pagination{
	>li{
		display:none;

		&:first-child{
			display: inline-block;
			>.btn{
				margin-right: 15px;
			}
		}

		&:last-child{
			display: inline-block;
			>.btn{
				margin-left: 15px;
			}
		}
	}
}


.en{
	#news{
		.hortab{
			text-align: left;

			li.tab{
				margin-bottom: 0.5em;

				&.active a:after{
					position: absolute;
					top: 0;
					left: 0.5em;
					width: 0;
					height: 100%;
					border-top: 0;
					border-left: 3px solid @color-active;
				}
			}
		}
	}
	#course .coursebox.coursebox-big p.comments{
		bottom: -130px;
	}
}


.shadowbox{
	margin-bottom: @shadowbox-shadow-size * 0.5;
	.e(box-shadow; 4px 4px 0 0 @color-shadow);
}

.section {
	padding:1.5em 0;

	h2{
		font-size: 27px;
		background-size: 52px 7px;
	}

	h2.decorate{
		font-size: 25px;
		margin-left: -4px;
		margin-right: -4px;

		>span{
			&:before{
				top: 1px;
				margin-right: 10px;
			}
			&:after{
				top: 1px;
				margin-left: 10px;
			}
		}
	}
}

.landing{
	// height:275px;

	.slider{
		height:200px;
	}

	&.p-home{
		.slider{
			height: 274px;
			>img{
				margin-top: 25px;
			}
		}
	}
}


#introduce {
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	.swiper-container{
		margin: 0 auto;
		width: 75%;
		height: 160px;
		overflow: visible;;

		.swiper-slide{
			>img{
				width: 100%;
				height: auto;
			}
		}

		&:before,
		&:after{
			content: " ";
			width: 50%;
			position: absolute;
			top: 0;
			background-color: rgba(255, 255, 255, 0.5);
			height: 100%;
			z-index: 99;
		}
		&:before{
			left: -50%;
		}
		&:after{
			right: -50%;
		}
	}

	h4{
		text-align: center;

		&:after{
			left: 50%;
			margin-left: -1em;
		}

	}
	p{
		text-align: center;
		font-size: 1em;
		margin-left: 20px;
		margin-right: 20px;
	}
	p>a.btn-default{
		width: 53.3333%;
	}
}

#wise{
	background-position: center top;
	background-repeat: repeat-y;
	// background-size: auto 100%;

	.container{}

	.cell{
		margin-left: 20px;
		margin-right: 20px;
		border: none;
		padding-bottom: 10px;
		border-bottom: 1px dashed #333;

		&:after{
			position: absolute;
			display: block;
			width: 14px;
			height: 26px;
			top: 12px;
			right: 0;
			content: "";
			background:url(images/arrow-left2.png);
		}

		>img{
			width: 75px;
			height: 50px;
			border: 2px solid #FFF;
		}

		.infopop{
			.e(animation; none);
			background-color: transparent;
		}

		.wraper{
			top:0;
			left: 90px;
			right: 15px;
			text-align: left;
			border: none;

			.indexnum{
				font-size: 23px;
				color: @color-active;
				margin-top: 0;

				&:after{
					content: "";
					width: 16px;
					border-top: 1px solid @color-active;
					position: absolute;
					bottom: 23px;
					left: 0;
				}
			}

			.title{
				font-size: 14px;
				color: @color-default;
				margin-bottom: 0;
				.text-ellipsis();

				+p{
					display:none;
				}
			}
		}
	}
}


#words{

	.shadowbox{
		margin-left: 16px;
		margin-right: 16px;
		width: auto;

		.control{
			display: none;
		}
	}

	.swiper-container.sliders{
		margin-left: 20px;
		margin-right: 20px;
	}

	.theword{
		.content{
			font-size: 20px; // 设计字号为 25px, 
		}
		.author{
			font-size: 12px;
		}
	}

	.wordslist{
		margin-top: -10px;

		.item{
			padding-left: 60px;
			padding-right: 10px;
			height: auto;
			min-height: 70px;
			margin-bottom: 5px;

			.content{
				padding-top: 5px;
				height: auto;
				padding-bottom: 30px;
				margin-bottom: 0;
				line-height: 1.2em;
			}

			.date{
				width: 50px;
				height: auto;
				bottom: 0;
				margin-bottom: 0;

				.day,
				.month{
					position: absolute;
					top: 50%;
				}
				.day{
					font-size: 24px;
					margin-top: -29px;
				}
				.month{
					margin-top: 10px;
				}
			}

			.author{
				position: absolute;
				float: none;
				right: 5px;
				bottom: 5px;
				font-size: 13px;
			}
		}

	}
}

#news{
	.hortab{
		margin-left: -4px;
		margin-right: -4px;
	}

	.carditem {
		.shadowbox{
			padding: 0 0 20px;
			border: none;
			border-bottom: 1px dotted @color-default;
			box-shadow: none;
			margin: 20px;
		}
		.title{
			font-size: 18px;
			margin-bottom: 10px;
		}
		.datetime,
		.action{
			display: none;
		}

		.source{
			font-size: 12px;
			line-height: 12px;
			margin-bottom: 16px;

			&:after{
				display: none;
			}

			.date{
				display: inline;
			}
		}

		.summary{
			font-size: 14px;
			height: auto;
			line-height: 1.6em;
		}

	}
}

#course{
	.shadowbox{
		.e(box-shadow; (@shadowbox-shadow-size * 0.5) (@shadowbox-shadow-size * 0.5) 0 0 rgba(200, 151, 6, .75));
	}

	.coursebox{
		padding: 10px 15px;
		margin: 5px 16px;
		text-align: left;

		&.coursebox-big{
			margin-bottom: 150px;
			overflow: visible;

			>div:first-child{
				border-bottom: 1px dashed #c38b00;
				margin-bottom: 15px;

				.course-subtitle,
				.course-title{
					text-align: center;
					margin-right: 0;
				}
			}

			.subcourse{
				border-bottom: 1px dashed #c38b00;
				position: relative;
				clear: both;
				padding-bottom: 13px;
				margin-bottom: 13px;

			}

			.course-subtitle,
			.course-title{
				display: block;
			}

			.course-title{
				font-size: 15px;
				text-align: left;
				margin-right: 25px;
				.text-ellipsis();
			}

			.course-subtitle{
				font-size: 13px;
			}

			.course-duration{
				top: 0;
				right: 0;
			}

			p.comments{
				color: #FFF;
				background-color: transparent;
				padding: 0;
				position: absolute;
				bottom: -160px;
				font-size: 12px;
				text-align: center;
			}
		}

		.course-subtitle,
		.course-title{
			display: inline;
			font-size: 15px;
		}

		.popup{
			display: none;
		}
		
		.course-duration{
			position: absolute;
			font-size: 15px;
			top: 12px;
			right: 15px;
			margin-top:0;
			margin-bottom: 0;
			&:before{
				display:none;
			}
		}

		
	}

}


#schedule{
	.header{
		margin-bottom: 10px;
	}
	.sch-month{
		.month-num{
			font-size: 25px;
		}
		.month-name{
			font-size: 14px;
		}

		.list{
			margin-bottom: 45px;
		}
		.item{
			padding-top: 18px;
			padding-bottom: 18px;

			.name{
				font-size: 14px;
			}
			.date{
				font-size: 12px;
			}
		}
	}

	.tab-content{
		clear:both;
	}
}


#stars {
	height: 380px;
	.slider {
		.face{
			width: 106px;
			border-width: 3px;
			height: 106px;
			.e(box-shadow; 3px 3px rgba(0,0,0,.15));
		}

		.words{
			font-size: 13px;
			margin-left:0;
			margin-right:0;
		}
		.name{
			font-size : 13px;
			margin-left:0;
			margin-right:0;

			&:before{
				top: -19px;
			}
		}
		.works{
			font-size: 11px;
			margin-left:0;
			margin-right:0;
		}
	}

	.horslider{
		.sliders{
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.starshow{
		.control{
			display: none;
		}
	}
}


#meet{

	.shadowbox{
		margin-left: 16px;
		margin-right: 16px;
		width: auto;

		.control{
			display: none;
		}
	}

	.swiper-container.sliders{
		margin-left: 20px;
		margin-right: 20px;
	}

	.theword{
		.content{
			font-size: 20px; // 设计字号为 25px, 
		}
		.author{
			font-size: 12px;
		}
	}

}

#artical{
	.thumbnail{
		position: relative;
		padding: 0;
		padding-top: 3px;
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 10px;
		height: 92px;
		border: none;
		border-bottom: 1px dashed @color-light-grey;

		img.thumb{
			width: 110px;
			margin-right: 10px;
			margin-bottom: 0;
			float: left;
		}

		.caption{
			font-size: 15px;
			text-align: left;
			margin-top: 4px;
			margin-bottom: 0;
		}

		.date{
			text-align: left;
			font-style: italic;
		}

		.author{
			position: absolute;
			padding: 0;
			left: 120px;
			bottom: -8px;
			font-size: 12px;
			background-image: none;
		}

		.avart,
		.category{
			display: none;
		}

	}

	.vote{
		display: none;
	}

}

#organizes{
	background-position: center top;
	background-repeat: repeat-y;

}

.organize{
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 10px;

	.name{
		height: 35px;
		font-size: 18px;
		line-height: 30px;
		margin-left: -20px;
		text-indent: 1.5em;

		&:before,
		&:after{
			height: 41px;
		}
	}

	.data,
	.pipe-large{
		font-size: 11px;
	}
	.pipe-large{
		padding-left: 8px;
		padding-right: 8px;
	}

	ul{
		margin-left: 15px;
	}
}


#courseintro{
	.courselist{
		width: 100%;

		>ul{
			padding: 0;
			margin: 0;
			width: 90%;
			margin: 0 auto;
			>li{
				list-style-type: disc;
				margin: 8px 0 0 15px;

				&.active{
					a{
						background-color: transparent;
						color: @color-default;
					}
				}
				a{
					padding-top: 0;
					padding-bottom: 0;
					padding-left: 0;
					text-align: left;
				}
			}

			&:before,
			&:after{
				display: none;
			}
		}
	}

	.load_message{
		display: none;
	}

}


#summary{
	
	.statics{
		>img{
			width: 55px;
			height: 55px;
		}

		.counter{
			font-size: 22px;
		}

		.nameen{
			font-size: 12px;
		}

		.namecn{
			font-size: 16px;
		}
	}


	&>.container>.row{
		@sepbar-offset:   14px;
		>.col-xs-6{
			.sepbar{
				&.left{left: @sepbar-offset; }
				&.right{right: @sepbar-offset; }
			}
		}
		// >.col-xs-3:first-child,
		>.col-xs-3:first-child{
			.statics{margin-left: @sepbar-offset / 2}
		}
		// >.col-xs-3:last-child,
		>.col-xs-3:last-child{
			.statics{margin-right: @sepbar-offset / 2}
		}
	}

}

.en {
	#touchme,
	#university .part1,
	#university .part2{
		p{
			text-align: left;
			line-height: 1.6em;
		}
	}
}

#university{


	p.linker.text-center{opacity: 0;}

	.part1,
	.part2{
		>img{
			margin-left: auto;
			width: 90%;
			margin-right: auto;
			display: block;
		}

		p{
			margin-left: 1em;
			margin-right: 1em;

			&:first-child{
				position: static;
				text-align: center !important;
				margin-bottom: 1em;

				>img{
					margin-top: 0;
					width: 6em;
				}
			}

		}
	}
}

#touchme{
	p{
		margin-left: 1em;
		margin-right: 1em;
		text-align: justify;
	}

	hr{
		margin-top: 25px !important;
		margin-bottom: 25px !important;
	}

	.hortab{
		.tab{
			width: 45%;

			>a{
				width: 100%;
			}
		}
	}

	.tab-pane{
		margin: 0 5px;
	}
}

#findus{
	p{
		margin-left: 1em;
		margin-right: 1em;
	}
}

#india{
	display: none;
}

#map{
	height: 205px;
	background-size: auto 100%;
	background-position: 85% center;
}

.oninfo{
	padding-left: 40px;
	margin-right: 0;
}

.onform{
	.left{
		margin-right: 0;
	}
	.right{
		margin-left: 0;
	}
}

// END @media (max-width: 767px)
}