@import "less.less";
@import (once, less, reference) "animation.less";

@import "font.css";
@import "animation.css";

body{
	background-position: center top;
	color: @color-default;
	padding-top: @navbar-height;
}

p{font-size:16px;line-height: 1.6em;}
.en p{line-height: 1.2em; }
a{
	color: inherit;
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: @color-active;
	}
}
a.require{display:none;}
hr{border-color: #555;}
.fullwidth{
	width:100%;
}
.clearbg-white{background:#FFF !important;}


.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(images/iconmap.png);
}
.icon-calendar{
	width: 34px;
	height: 38px;
	background-image: url(images/icon-calendar.png);
}
.icon-phone,
.icon-wechat,
.icon-location{
	width: 25px;
	height: 25px;
}
.icon-phone{
	background-position: 0 -30px;
}
.icon-wechat{
	background-position: 0 -55px;
}
.icon-location{
	background-position: 0 -80px;
}
.icon-location2,
.icon-email{
	width:32px;height:32px;
}
.icon-location2{
	background-position: -32px -105px;
}
.icon-email{
	background-position: 0 -105px;
}

// 
// Overwrite bootstrap style
// 
.btn{
	border-color:@color-default;
	color:@color-default;
	background-color: transparent;
	// background-color: rgba(255,255,255,0.3);
	font-size:16px;
	line-height:1.8em;
	padding-left: 2em;
	padding-right: 2em;
	letter-spacing: 1px;
	.e(border-radius, 3em);
	.e(transition, all 0.3s);

	&:hover,
	&:active,
	&.active{
		background-color: @color-active;
		border-color:darken(@color-active, 10%);
		color:#FFF;
		.e(box-shadow, none);
	}
}

.btn-text{
	border:none;
	padding: 0;
	background-color:transparent;

	&:hover{
		background-color:transparent;
		color: @color-active;
	}
}

.btn-outline{
	border-color: transparent;
	width: 100%;
	.text-ellipsis();
}

.active{
	>.btn-outline{
		background-color: @color-active;
		color: #FFF;
	}
}

// used in .hortab.style-2
.btn-tab{
	font-size: 18px;
	line-height: 1.4em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: @color-active;
	border-color: transparent;

	&:hover{
		background-color: transparent;
	}

	&:active,
	&.active{
		border-color: @color-active;
	}
}

.btn.darken{
	&.btn-default{
		color: #FFF;
		border-color: @color-active;

		&:hover{
			background-color: @color-active;
		}
	}
}

.btn.active{
	.btn-outline{
		background-color: @color-active;
		border-color:darken(@color-active, 10%);
		color:#FFF;
	}
}
.btn.square{
	.e(border-radius, 0);
}
.btn-group{
	.btn:first-child{padding-left: 2.3em; }
	.btn:last-child{padding-right: 2.3em; }
}

.badge{
	.e(border-radius; 0);
}
.badge-top{background-color: #7AC2A5}
.badge-new{background-color: #EA776B}
.badge-hot{background-color: #ECD07A}

//
// Overwrite bootstrap style END
//


//
// 
// Global Navigation
.navbar-default {
	border-bottom: none;
	background-color: #FFF;
}
@media(min-width: 768px){
.navbar-default {
	// .e(transition; all 0.3s);

	.navbar-nav{
		width: 100%;
		height: @navcontent-height;
		margin-top: floor((@navbar-height - @navcontent-height) / 2 + 8px);
		margin-bottom: floor((@navbar-height - @navcontent-height) / 2 - 8px);
		text-align: center;
		.e(transition; all 0.3s);

		li{
			display: inline-block;
			float: none;
			margin: 0 2.63%;

			&:first-child{
				margin-left:0;
			}
			&:last-child{
				margin-right:0;
			}

			a{
				padding-left: 0;
				padding-right: 0;
				&:hover,
				&.active{
					color: @color-active;
				}
			}
		}

		.logo{
			display: inline-block;
			position: relative;
			width: 190px;
			text-align: center;
			top: -13px;
			margin:0 3.51%;

			.small{
				display: none;
			}
			a{
				outline: none;
				border: none;
				padding: 0;
				margin: 0;
			}
		}

		@media(max-width:1000px){
			li{
				margin: 0 1.8%;
			}
			.logo{
				margin: 0 2%;
			}
		}
	}


	.bar-brand{
		display: none;

		>img{
			width: 120px;
			padding-top: 11px;
			padding-left: 10px;
		}
	}

	&.minimize{
		background-color: rgba(255,255,255,0.8);

		.navbar-nav{
			height: @navcontent-height-minimize;
			margin-top: floor((@navbar-height-minimize - @navcontent-height-minimize) / 2 + 4px);
			mragin-bottom: floor((@navbar-height-minimize - @navcontent-height-minimize) / 2 - 4px);
		}

		.logo{
			top: -4px;
			.small{display: inline-block;}
			.big{display: none}
		}
	}
}

// end of @media(min-width: 768px)
}
// Global Navigation END
// 
// 


// Global 
.section{
	padding: 3.8em 0;
	overflow: hidden;
	// border-bottom: 1px solid #F00;
	.e(box-sizing, border-box);

	h2{
		font-size: 3.9em;
		text-align: center;
		padding: 0.3em 0 1.3em;
		background: url(images/h2decorate.png) no-repeat center 69.4%;
		margin:0;

		&.light{
			color: #FFF;
			background-image: url(images/h2decorate-light.png);
		}
	}

	h2.decorate{
		font-size: 3.6em;
		position: relative;
		background: none;
		padding-top: 0.3em !important;  // Hack this for wise.html

		&:before{
			content: "";
			position: absolute;
			left: 0;
			border-top: 1px solid @color-default;
			top: 33%;
			width: 100%;
		}

		>span{
			position: relative;
			z-index:5;
			background-color: #FFF;

			&:before,
			&:after{
				content: "";
				position: relative;
				display: inline-block;
				top: -6px;
				height: 20px;
				width: 20px;
				background-image: url(images/decorate-diamond.png);
			}
			&:before{
				margin-left: -1px;
				margin-right: 30px;
			}
			&:after{
				margin-left: 30px;
				margin-right: -1px;
			}

		}
	}

	h4{
		position: relative;
		font-size: 1.6em;
		margin: 1.5em 0;
		font-weight: normal;

		&:after{
			position: absolute;
			display: block;
			content: "";
			border-bottom: 1px solid @color-default;
			bottom: -0.8em;
			width: 2em;
		}
	}
}

.photowall {
	.cell{
		.e(box-sizing, border-box);
		border: 5px solid #FFF;
		position:relative;
		overflow: hidden;
		line-height: 0;
		display:block;
		text-decoration: none;
		color:inherit;
		margin-bottom:8px;

		>img{width:100%;}

		&:hover{
			.infopop{
				.moveBottomIn;
			}
		}

	}

	.infopop{
		// display:none;
		position: absolute;
		top:0%;right:0;bottom:0;left:0;
		text-align:center;
		color:#FFF;
		background-color:rgba(217, 159, 16, 0.8);
		.moveBottomOut;

		p{color:#FFF;}

		.wraper{
			position: absolute;
			border:2px solid #FFF;
			top: 10px;right: 10px;bottom: 10px;left: 10px;
		}

		.indexnum{
			font-family: "AkzidenzGroteskBoCnd";
			font-size:45px;
			line-height: 1em;
			margin-top:.35em;
		}

		.title{
			position: relative;
			font-size:1.1em;
			font-weight: normal;
			margin-bottom: 30px;

			&:after{
				display: block;
				position: absolute;
				width: 4em;
				border-bottom: 1px solid #FFF;
				content: "";
				left: 50%;
				margin-left: -2em;
				bottom: -15px;
			}
		}

		.icon{background:none;}
		&.read{
			.icon-movie{
				display: none;
			}
		}
		&.movie{
			.icon-read{
				display: none;
			}
		}

	}

}


.shadowbox{
	margin-top: 1em;
	margin-bottom: @shadowbox-shadow-size;
	border: 1px solid @color-light-grey;
	background-color: #FFF;
	.e(box-sizing; border-box);
	.e(box-shadow; @shadowbox-shadow-size @shadowbox-shadow-size 0 0 @color-shadow);

	&.noborder{
		border:none;
	}

	.title{
		font-size: 22px;
		margin-top: -15px;
		margin-bottom: -11px;
		text-align: center;
		line-height: 1.2em;

		.wraper{
			position: relative;
			display: inline-block;
			background-color: #FFF;
		}
		.wraper:before,
		.wraper:after{
			content: "";
			width: 32px;
			height: 1.2em;
			top: 0;
			background:url(images/iconmap.png) no-repeat;
		}
		.wraper:before{
			left:-32px;
			float: left;
			margin-left: 5px;
			background-position: -32px -2px;
		}
		.wraper:after{
			right: -32px;
			float: right;
			margin-right: 5px;
			background-position: 0 -2px;
		}
	}
}

.horslider{
	position: relative;
	height: 100%;

	.control{
		height:100%;
		width:30px;
		text-align: center;
		line-height: 100%;

		a{
			display: inline-block;
			position: relative;
			width: 30px;
			height: 30px;
			top: 50%;
			margin-top: -15px;
			background-image: url(images/iconmap.png);

			span{
				display: none;
			}
		}
	}
	.control.left{
		float:left;
		margin-left: 30px;
		a{background-position: -64px 0;}
	}
	.control.right{
		float:right;
		margin-right: 30px;
		a{background-position: -94px 0;}
	}
	.sliders{
		height: 100%;
		margin: 0 90px;
		overflow: hidden;
	}
}

// 静思语
.theword{
	text-align: center;
	letter-spacing: 1px;
	padding-top: 40px;

	.content{
		font-size: 30px;
	}

	.author{
		font-size: 16px;
		font-weight: 200;
		padding-top: 15px;
		color: @color-def-lighter;

		&:before{
			width: 60px;
			content: "";
			display: block;
			border-top: 1px solid @color-def-lighter;
			position: relative;
			left: 50%;
			top:-15px;
			margin-left: -30px;
		}
	}

	.slogn{
		font-weight: bold;
		color: @color-default-bit;
	}
}

.carditem{

	.shadowbox{
		position: relative;
		margin-top: 144px;
		padding: 40px 20px;

	}

	.title{
		margin-top: 0;
		text-align: left;
		font-weight: normal;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.datetime{
		position: absolute;
		width: 100px;
		height:100px;
		top: -124px;
		left: 50%;
		margin-left: -50px;
		border:1px solid @color-light-grey;
		.e(border-radius, 50px);
		text-align: center;
		color: @color-light-grey;
		letter-spacing: 1px;

		.num{
			font-size: 50px;
			color: #EABA43;
			display: block;
			padding-top: 18px;
			padding-bottom: 20px;
			font-weight: 200;

			&:after{
				position: absolute;
				display: block;
				content: "";
				width: 1em;
				left: 50%;
				margin-left: -0.5em;
				bottom: 40px;
				border-top: 1px solid @color-light-grey;
			}
		}

		.date{
			color: #555;
		}
	}

	.source {
		font-style: italic;
		margin-bottom: 70px;
		position: relative;
		color: @color-default-bit;

		&:after{
			position: absolute;
			content: "";
			width: 64px;
			border-top: 1px solid @color-default;
			left: 0;
			bottom: -2em;
		}
	}

	.summary{
		height: 180px;
		overflow: hidden;
		color: @color-default-lighter;
		line-height: 1.8em;
	}

	.action{
		margin-bottom: 0;
	}

}

//
// 横向tab组件
// 
.hortab {
	position: relative;
	list-style: none;
	font-size: 40px;
	text-align: center;
	color: #999;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 0.35em;
	padding: .2em 0 .6em;

	&:after{
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		width: 100%;
		border-top: 1px solid @color-light-grey;
		z-index: 9;
	}

	.tab{
		position: relative;;
		display: inline-block;
		border-left: 1px solid @color-light-grey;
		padding: 0 1.7em;

		&:first-child{
			border-left:none;
		}
		&:hover,
		&.active{
			color: @color-active;

			a:after{
				top: .6em;
				border-color: @color-active;
			}
		}

		a{
			text-decoration: none;
			color:inherit;
			.e(transition, all 0.3s);

			&:after{
				display: block;
				position: relative;
				content: "";
				left: -13%;
				top: .7em;
				width: 126%;
				border-top: 5px solid transparent;
				z-index: 10;
			}
		}
	}

	&.style-2{

		&:after{
			display: none;
		}

		.tab{
			border-left: none;
			padding: 0 .1em;

			a:after{
				display:none;
			}

			&.active .btn{
				color: @color-active;
				border-color: @color-active;
			}
		}
	}

}

.tabcontent{
	>div {
		display:none;

		&.active{
			display: block;
		}
	}
}
//
// 横向tab组件结束
// 


//
// 课程组件
// 
.coursebox{
	position: relative;
	text-align: center;
	color: @color-light-default;
	font-size: 18px;
	line-height: 1.4em;
	margin-left: 14px;
	margin-right: 14px;
	overflow: hidden;

	p{
		font-size: 18px;
	}

	.course-title{
		font-size: 24px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.course-subtitle{
		font-size: 16px;
	}

	.course-duration{
		position: relative;
		margin-top: 32px;
		font-size: 20px;

		&:before{
			position: absolute;
			content: "";
			width: 27px;
			height: 16px;
			bottom: 39px;
			background: transparent url(images/iconmap.png) no-repeat -124px 0;
			left: 50%;
			margin-left: -13px;
		}
	}

	.popup{
		position: absolute;
		background-color: rgba(172, 140, 29, .9);
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		.moveBottomOut;
		
		.icon-calendar{
			position: relative;
			margin-top: 25px;
			margin-bottom: 40px;

			&:after{
				content: " ";
				position: absolute;
				width: 50px;
				bottom: -25px;
				left: 50%;
				margin-left: -25px;
				border-top: 1px solid #FFF;
			}
		}

		.btn{
			color:#FFF;
		}
	}

	&:hover{
		.popup{
			.moveBottomIn;
		}
	}


	&.coursebox-big{
		margin: 0;

		.course-title{
			font-size: 18px;
		}

		.comments{
			font-size: 14px;
			padding: 2em 7em;
			background-color: #FBF7E6;
			margin-top: 20px;
		}

		.popup{
			.icon-calendar{
				margin-top: 120px;
			}
		}
	}


}

.sch-month{
	ul,li{list-style: none;padding:0;margin:0;}

	.header{
		margin-bottom: 16px;
	}

	.month-num{
		font-size: 48px;
		font-weight: bold;
		line-height: 1em;
		color: @color-default;
	}

	&.current{
		.month-num{
			color: @color-active;
		}
	}

	.month-name{
		position: relative;
		// top: -20px;
		font-size: 17px;
		text-transform: uppercase;
		color: @color-default-bit;
	}

	.btn-more{
		float: right;
		position: relative;
		top: 21px;
		color: @color-default-bit;
	}

	.list{
		border-top: 1px solid @color-default;
		border-bottom: 1px solid @color-default;
		margin-bottom: 60px;
	}

	.item{
		font-size: 16px;
		padding: 25px 0;
		border-bottom: 1px dashed @color-light-grey;

		.name{
			position: relative;
			margin-bottom: 0;
			color: @color-default-bit;
			.text-ellipsis();
			padding-right: 85px;
		}

		.date{
			position: absolute;
			top: 0;
			right: 0;
			color: @color-default-lighter;
		}

		&:last-child{
			border-bottom: none;
		}

		a{
			color: @color-default-bit;
			text-decoration: none;
			&:hover{
				color: @color-default;
			}
		}
	}
}

//
// 课程组件结束
// 


//
// 联络中心信息牌
// 
.organize{
	background-color: rgba(255,255,255,.56);
	padding: 15px;
	margin: 0 12px 50px 20px;

	ul{
		list-style: none;
		margin: 10px 0 10px 35px;
		padding: 0;
	}

	.name{
		position: relative;
		display: inline-block;
		background-color: #EBBB44;
		margin: 0 0 0 -23px;
		height: 51px;
		font-size: 28px;
		line-height: 50px;
		text-indent: 2em;
		color: #FFF;
		min-width: 180px;
		padding-right: 5px;

		&:before,
		&:after{
			content: "";
			position: absolute;
			top:0;
			background-image: url(images/organize-bg.png);
			background-size: auto 100%;
			height: 60px;
		}
		&:before{
			left: 0;
			width: 8px;
		}
		&:after{
			right: -29px;
			width: 30px;
			background-position: 100% 0;
		}
	}

	.item{
		list-style: none;
		position: relative;
		padding: 0 0 0 50px;
		font-size: 16px;
		line-height: 1.6em;
		word-break: break-all;
		margin: 10px 0;

		&:before{
			position: absolute;
			content: " ";
			border-left: 1px dashed #D7A019;
			height: 130%;
			left: 12px;
			z-index: 1;
			opacity: 0.35;
		}
		&:first-child:before{
			top: 50%;
		}
		&:last-child:before{
			top: -50%;
		}
	}

	.icon {
		position: absolute;
		top: 50%;
		margin-top: -12px;
		left: 0;
		z-index: 2;
	}

	.data{
		display: inline-block;
	}

	.pipe{
		padding: 0 5px;
	}

	.pipe-large{
		padding: 0 15px;
	}
}
//
// 联络中心信息牌 结束 
// 


// Dot indicator
.indicator{
	text-align:center;
	>a{
		display: inline-block;
		width: 16px;
		height: 16px;
		margin: 0 5px;
		.e(border-radius, 8px);
		background-color:@color-selected;
		.e(transition, background-color 0.3s);

		span{
			display: none;
		}
	}
	>a:hover,
	>a.active{
		background-color: @color-active;
	}
}

//
// === Index Landing area
// 
.landing{
	// height:740px;

	.slider{
		height:400px;
		background-position: center center;
		.e(background-size; auto 100%);
		text-align: center;

		// slogn img
		>img{ 
			width: 45.3%;
			min-width: 250px;
			max-width: 520px;
			margin-top: 90px;
		}
	}

	&.p-home{
		.slider{
			height: 739px;
		}
	}
}

body{
	&.cn{
		.p-home .slider {
			background-image: url(images/bigeye-ori.jpg);
		}

		.p-course .slider{
			background-image: url(images/landing-hykc.jpg);
		}

		.p-contact .slider{
			background-image: url(images/landing-llzx.jpg);
		}

		.p-interactive .slider{
			background-image: url(images/landing-hdtd.jpg);
		}

		.p-touchoneness .slider{
			background-image: url(images/landing-zjhy.jpg);
		}

		.p-events .slider{
			background-image: url(images/landing-xyzx.jpg);
		}

		.p-wise .slider{
			background-image: url(images/landing-hyzh.jpg);
		}
	}
	&.en{
		.p-home .slider {
			background-image: url(images/banner_en.jpg);
		}

		.p-course .slider{
			background-image: url(images/oneness_course_en.jpg);
		}

		.p-contact .slider{
			background-image: url(images/banner_contact_en.jpg);
		}

		.p-interactive .slider{
			background-image: url(images/oneness_interact.jpg);
		}

		.p-touchoneness .slider{
			background-image: url(images/oneness_about_en.jpg);
		}

		.p-events .slider{
			background-image: url(images/oneness_news_en.jpg);
		}

		.p-wise .slider{
			background-image: url(images/oneness_wisdom_en.jpg);
		}
	}
}


#introduce{
	background-color: #FFF;

	.container{
		margin-bottom: 30px;
	}
	.swiper-container{
		margin: 0 0.3em;
		width: 90%;
		height: 326px;
		overflow: hidden;
	}

	.indicator{
		margin: 0 0.3em;
		width: 90%;
		margin-top: 20px;
	}
}


#wise{
	background: url(images/sec-wise-bg.jpg) no-repeat center center;

	h2{
		padding-top:0;
	}
}

#words{
	background-color: #FFF;

	.shadowbox{
		width: 100%;
		height: 170px;
	}
}

#news{
	background-color: #FFF;

	.col3(138px; 144px; 7px);

}

//
// 首页课程模块
//
#course{
	background: url(images/sec-course-bg.png) repeat;

	.col3(84px, 1em, 25px);
	.shadowbox{
		padding: 20px;
		margin-bottom: 25px;
		.e(box-shadow; @shadowbox-shadow-size @shadowbox-shadow-size 0 0 rgba(200, 151, 6, .75));
	}
}


#schedule{
	background-color: #FFF;
	.col3(60px, 0, 0);
}


#stars{
	background: url(images/sec-star-bg.png) no-repeat center center;
	height: 550px;
	.container{
		height:100%;
		overflow: hidden;
		>.row{
			height: 100%;
			>div{height: 100%;}
		}
	}

	.horslider{
		.control{
			height:100%;
			width:40px;

			a{
				width: 40px;
				height: 70px;
				margin-top: -35px;
				background-position: 0 0;

				span{
					display: none;
				}
			}
		}
		.control.left{
			float:left;
			margin-left: 0;
			a{
				background-image: url(images/arrow-left.png);
			}
		}
		.control.right{
			float:right;
			margin-right: 0;
			a{
				background-image: url(images/arrow-right.png);
			}
		}
		.sliders{
			margin: 0 40px;
		}
	}

	.slider {
		text-align: center;

		.face{
			width: 205px;
			height: 205px;
			border-radius: 110px;
			border: 5px solid white;
			box-shadow: 5px 5px rgba(0, 0, 0, .15);
			margin-bottom: 25px;
			background-color: #FFF;
		}

		.words{
			font-size: 16px;
			color: @color-default-bit;
			margin: 0px 90px 32px;
			&:before{
				font-size: 20px;
				content: "“";
			}
			&:after{
				font-size: 20px;
				content: "”";
			}
		}

		.name{
			position: relative;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 15px;

			&:before{
				position: absolute;
				width: 130px;
				border: 1px solid @color-default-lighter;
				content: "";
				top: -30px;
				left: 50%;
				margin-left: -65px;
			}
		}

		.works{
			margin: 0 250px;
			font-size: 14px;
			color: @color-default-lighter;
		}
	}
}


#meet{
	background-color: #FFF;
	.shadowbox{
		width: 100%;
		height: 205px;
	}

	.theword{
		.author{
			margin-bottom:0;
		}
	}
}


#artical{
	background-color: #FFF;

	.thumbnail{
		.e(border-radius, 0);
		padding: 5px;
		line-height: 1em;
		margin: 0 30px 30px;
		transition: all 0.3s;

		a{
			color: inherit;
			text-decoration: none;
		}

		img.thumb{
			width:100%;
			margin: 0 0 15px;
		}

		.caption{
			font-size: 18px;
			text-align: center;
			padding: 0;
			margin-bottom: 10px;
			transition: all 0.3s;
		}

		.date{
			font-size: 12px;
			color: @color-default-lighter;
			text-align:center;
			margin-bottom: 13px;
		}

		.author{
			height: 41px;
			padding: 10px 5px 5px;
			background: url(images/author-upline-a.png) no-repeat center top;

			p{
				color: @color-default-lighter;
				font-size: 14px;
				line-height: 26px;
				margin-bottom:0;
			}
		}

		.avart{
			width : 26px;
			height: 26px;
			vertical-align: middle;
			margin-right: 10px;
			.e(border-radius; 15px);
		}

		.category{
			float:right;
		}

		.vote{
			position: absolute;
			top: 16px - 4px;
			left: 30px + 16px;
			padding: 6px;
			border-radius: 4px;
			background-color: rgba(51, 51, 51, .5);
			color: #FFF;

			a{
				color: inherit;
				text-decoration: none;
			}

			&:hover{
				.count:before{
					color: @color-active;
				}
			}
		}

		.count{
			&:before{
				// font-family: "Meiryo";
				content: "\2764\FE0E "; // ❤︎
				transition: all 0.3s;
			}
		}

		&:hover{
			background-color: @color-active;
			border-color: @color-active;

			.caption,
			.date{
				color: #FFF;
			}

			.author{
				background-image: url(images/author-upline-b.png);

				p{
					color: #FFF;
				}
			}
		}
	}
}


#organizes{
	background: url(images/sec-contact-bg.png) no-repeat center center;
}

.indiaimg{
	float:left;
	width: 20%;
	height:auto;
	overflow: hidden;;
	.e(box-sizing; border-box);

	img{
		width:100%;
		border:none;
	}

	&.interact{
		img{
			.zoomIn120t100;
		}
	}
	&.interact:hover{
		img{
			.zoomOut100t120;
		}
	}
}
.indiasliders{
	position: relative;
	margin-left: 228px;
	height: 400px;
	overflow: hidden;

	ul,li{list-style: none;padding:0;margin:0;}

	li{
		position:absolute;
		width: 100%;
		>img{width: 100%;}
	}
}

#summary{
	background-color: #FFF;

	.statics{
		text-align: center;
		padding-top: 30px;

		>img{
			margin-bottom: 20px;
		}

		.counter{
			font-size: 44px;
			line-height: 1em;
			margin-bottom: 8px;
		}

		.nameen{
			font-size: 17px;
			text-transform: uppercase;
			line-height: 1em;
			position: relative;
			margin-bottom: 22px;
			color: @color-default-lighter;

			&:after{
				content: "";
				position: absolute;
				width: 32px;
				border-top: 1px solid @color-default-lighter;
				left: 50%;
				margin-left: -16px;
				bottom: -12px;
			}
		}

		.namecn{
			font-size: 18px;
			line-height: 1em;
			color: @color-default-lighter;
			margin-bottom: 30px;
		}
	}

	.sepbar{
		height: 100%;
		border-left: 1px dashed @color-light-grey;
		position: absolute;
		z-index: 1;
		top: 0;

		&.left{
			left: -4px;
		}
		&.right{
			right: -4px;
		}

		&:before,
		&:after{
			position: absolute;
			width: 9px;
			height: 9px;
			border: 1px solid @color-light-grey;
			background-color: #FFF;
			content: "";
			left: -5px;
			border-radius: 5px;
			z-index: 2;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
	}
}


#india{
	background-color:#FFF;
}


#map{
	height: 410px;
	background: #C2C2C2 url(../images/map.png) no-repeat center center;
}


#contact{
	background-color: @color-default;
	padding-bottom: 50px;
	color: #FFF;
}

.oninfo{
	position: relative;
	padding-left: 80px;
	margin-bottom: 45px;
	margin-right: 6em;
	min-width: 150px;

	a{
		&:hover{
			color: darken(#FFF, 10%);
		}
	}

	.name{
		position: relative;
		font-size: 16px;
		color: @color-active;
		margin-top: 0;
		margin-bottom: 40px;
		line-height: 1em;

		&:after{
			position: absolute;;
			content: "";
			width: 30px;
			border-top: 1px solid @color-active;
			left: 0;
			bottom: -20px;
		}
	}

	.icon{
		position: absolute;
		left:0;
		top:0;

		&.icon-email{
			top: -6px;
		}
	}

	.detail{
		font-size: 14px;
		font-family: "Open Sans";
	}
}


// 
// footer 表单
// 
.onform{
	.fname{
		position: relative;
		font-size: 16px;
		margin-bottom: 40px;
		line-height: 1em;

		&:after{
			position: absolute;
			content:"";
			width: 30px;
			border-top:1px solid #FFF;
			left:0;
			bottom: -20px;
		}
	}
	input,
	textarea{
		width: 100%;
		padding: 17px;
		font-size: 14px;
		background-color: #404040;
		margin-bottom: 15px;
		border: 2px solid #404040;
		.e(box-sizing; border-box);
		
		&:focus{
			outline: none;
			border-color: @color-active;
		}
		&.error{
			border-color: red;
		}
	}

	textarea{
		height: 131px;
	}

	.left{
		margin-right: 3px;
	}
	.right{
		margin-left: 3px;
	}
}
.language{
	margin-top: 1em;
	margin-bottom: 1.6em;
}
.sociallink,
.copyright{
	font-size: 14px;
	text-align: center;
}
.sociallink {
	height: 30px;
	line-height: 0;
	font-size: 0;
}

// 课程介绍页
.courselist{
	ul{
		position:relative;
		list-style: none;
		padding: 10px 70px 10px 0;
		text-align: right;

		&:before{
			content: "";
			position: absolute;
			width: 13px;
			height: 13px;
			.e(border-radius; 6px);
			top: 48px;
			right: 29px;
			background-color: @color-active;
			z-index: 5;
			.e(transition; all 0.3s);
		}
		&:after{
			content: "";
			position:absolute;
			height: 100%;
			border-left: 1px solid @color-light-grey;
			right: 35px;
			top:0;
		}

		.create-pointer(@count) when (@count >= 0){
			.create-pointer(@count - 1);

			&.pointer-@{count}:before{
				top: 49px + @count * 62;
			}
		}
		.create-pointer(12);

	}
	li{
		margin: 20px 0;
	}

}

.introcontent{
	p{
		line-height: 1.8em;
		margin-top:0;
		font-size: 14px;
		margin-bottom: 1.5em;
	}

	.subtitle{
		font-size: 14px;
		line-height: 1em;
		margin-bottom: 12px;
	}

	.title{
		position: relative;
		font-size: 30px;
		line-height: 1em;
		margin-top:0;
		margin-bottom: 85px;

		&:after {
			content:"";
			position: absolute;
			left: 0;
			bottom: -35px;
			width: 75px;
			border-top: 1px solid @color-default;
		}
	}

	.contentwraper{
		height: 420px;
		overflow: auto;
	}
}


// 
// 
// 翻页组建
// 
.pagination{
	text-align:center;
	width: 100%;
	margin-top: 30px;

	li{
		display: inline-block;

		.btn{
			border-color: transparent;
			margin: 0 7px;
			color: @color-default;
			&:hover{
				color: inherit;
				border-color: @color-default-lighter;
				.e(box-shadow; none);
				background-color: #FFF;
			}
		}
		&.active{
			.btn{
				color: #FFF;
				background-color: @color-active;
				border-color: darken(@color-active, 10%)
			}
		}

		&:first-child .btn,
		&:last-child .btn{
			padding-left: 2em;
			padding-right: 2em;
			border-color: @color-default-lighter;
			.e(border-radius; 12em);

			&:hover{
				color: #FFF;
				background-color: @color-active;
				border-color: darken(@color-active, 10%)
			}
		}
		&:first-child .btn{
			margin-right: 30px;
		}
		&:last-child .btn{
			margin-left: 30px;
		}
	}
}
//
//  翻页组建 END
// 
// 

#afterclass{
	.col3(60px, 0, 40px);

	.item{
		p{font-size: 14px;}

		>img{
			width:100%;
			margin-bottom: 35px;
		}

		.date{
			position: relative;
			line-height: 1em;
			margin-bottom: 12px;

			&:before{
				position: absolute;
				content: "";
				width: 100%;
				left:0;
				top: 50%;
				border-top: 1px solid @color-default;
			}

			>span{
				position: relative;
				background-color: #FFF;
				padding-right: 3px;
				z-index: 5;
			}
		}

		.title{
			font-size: 18px;
			margin-top: 0;
			line-height: 1em;
			margin-bottom: 15px;

			&:after{
				display: none;
			}
		}

		.extend{
			font-style: italic;;
			color: @color-default-lighter;
			margin-top: 0;
			line-height: 1em;
			margin-bottom: 40px;
		}

		.summary{
			text-align: justify;
			line-height: 1.8em;
			margin-bottom: 45px;
		}

	}
}


#recruit {
	.col3(18px);

	input, textarea{
		border: 1px solid @color-light-grey;
		.e(box-sizing; border-box);
		padding: 19px;
		font-size: 16px;
		width: 100%;
		margin-bottom: 20px;

		&:focus{
			outline: none;
			border-color: darken(@color-light-grey, 20%);
		}
	}

	textarea{
		height: 200px;
		margin-bottom: 15px;
	}

	.comment {
		font-size: 14px;
		padding-left: 25px;
		position: relative;
		top: 11px;
		background: url(images/comment-flag.png) no-repeat left 50%;
	}

	button[type="submit"]{
		float:right;
		color:#FFF;
		background-color: @color-active;
		border-color: darken(@color-active, 10%)
	}
}


#findus {
	margin-bottom: 50px; 
	.introduce{
		margin-bottom: 40px;
		font-size: 14px;
		color: @color-default-bit;
	}

	.col2(24px);

	.col2>img{
		width:100%;
	}
}


#touchoneness{

}

#university{
	p{
		font-size: 14px;
		line-height: 1.6em;
		margin-bottom: 1.6em;
	}

	.part1{
		>img{
			margin-left: 1.5em;
		} 
		p{
			text-align: justify;
			margin-left: 5.5em;
			>img{
				margin-top: 78px;
			}
		}
	}

	.part2 {
		position: relative;
		top: -40px;

		p{
			text-align: justify;
			margin-left: 2.5em;
			margin-right: 4.5em;

			&:first-child{
				position: relative;
				bottom: -313px;
				margin-bottom: -44px;
			}
		}
	}
}


#touchme{
	div>p{
		font-size: 14px;
		color: @color-default-bit;
	}
	.tabnavs{
		margin-bottom: 65px;
	}
	.tab-pane{
		margin-top:60px;
		.col3(12px);

		.col3{
			>img{
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
}


#onnews,
#onevents{
	.col2(84px);
}
.newslist{
	list-style: none;
	padding:0;margin:0;

	.item{
		list-style: none;
		position: relative;
		padding: 9px 15px 10px;
		margin: 10px 0;
		line-height: 1em;
		border-bottom: 1px solid #EAEAEA;

		.title{
			font-size: 16px;
			color: @color-default-bit;
			line-height: 1em;
			margin-bottom: 10px;
		}

		.meta{
			font-size: 14px;
			color: #999;
			line-height: 1em;
			margin-bottom: 7px;
		}

		&:hover{
			.title,
			.meta,
			.btn-more{
				color: @color-active;
			}

			.btn-more{
				display: block;
			}
		}

		.btn-more{
			display:none;
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -23px;
			color: @color-active;
		}
	}
}


.wordslist{
	list-style: none;
	padding:0;margin:0;

	.item{
		list-style: none;
		position: relative;
		margin:0 0 1px 0;
		padding:0 20px 0 100px;
		height: 65px;
		font-size: 14px;
		background-color: #F6F6F6;

		p{
			line-height: 65px;
		}

		.date{
			position: absolute; 
			display: block;
			top:0;
			left:0;
			width: 65px;
			height: 65px;
			background-color: @color-active;  // #ffd776 
			line-height: 1em;
			color: #FFF;
			text-align: center;

			span{
				display: block;
				width:100%;
			}
			.day{
				font-size: 30px;
				padding-top: 11px;
				padding-bottom: 4px;
				line-height: 1em;
				text-align: center;
			}
			.month{
				font-size: 11px;
				line-height: 1em;
				text-align: center;
			}
		}

		.author{
			position: relative;
			float:right;
			font-style: italic;
			color: #999;

			&:before{
				content: "\2014";
				// content: "—";
				padding-right: 10px;
			}
		}

		// &.odd{
		// 	.date{
		// 		background-color: @color-active;
		// 	}
		// }
		&.even{
			background-color: #FFF;
			.date{
				background-color: #FFD776;
			}
		}
	}
}
#words .wordslist{margin-top: -40px;}



// 
@import "mobile.less";